# Git
.git
.gitignore

# Documentation
README.md
LICENSE

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Build artifacts
**/node_modules
**/build
**/dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
