# Binaries
*.exe
*.dll
*.so
*.dylib
backend/api

# Test coverage
*.out

# Go workspace file
go.work

# Dependencies
**/node_modules/
vendor/

# Build output
**/build/
**/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.iml

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.cache/
